footer {
  .footer-input p {
    font-size: 24px;

    @include pad {
      font-size: 32px;
    }
  }

  .footer-top {
    background-image: url("../images/footer-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
  }

  a {
    position: relative;
    right: -16px;
  }
}
