.h-title {
  font-size: 32px;
}

.hot-item-title,
.hot-item-price {
  font-size: 20px;
}

.talk {
  font-size: 28px;
}

.banner {
  background-image: url("../images/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 480px;
}

nav {
  white-space: nowrap;
  overflow-y: hidden;
}

.hot {
  .hot-item {
    @include pad {
      background-color: #fff !important;
    }
  }

  .hot-item-img {
    max-width: 345px;
    height: 345px;
    object-fit: cover;

    @include pad {
      max-width: 350px;
      height: 350px;
    }
  }

  .hot-itme-body {
    @include pad {
      background-color: #efefef;
    }
  }

  .hot-itme-body-1 {
    @include pad {
      max-width: 540px;
    }
  }

  .hot-item-intro {
    @include pad {
      font-size: 20px;
    }
  }

  .fb-link-1 {
    position: relative;
    bottom: 3px;
  }

  .fb-link-2 {
    position: relative;
    bottom: 11px;
  }

  .fb-icon {
    width: 20px;
    height: 20px;

    @include pad {
      width: 24px;
      height: 24px;
    }
  }

  .hot-item-date {
    top: 2px;
  }
}

.live {
  .bg {
    background-image: url("../images/live-bg.png");
    background-position: center;
    background-size: cover;
    height: 482px;
  }
}