.h-title {
  font-size: 32px;
}

.hot-item-title,
.hot-item-price,
.title-name,
.like-h3,
.like-p {
  font-size: 20px;
}

.talk {
  font-size: 28px;
}

.banner {
  background-image: url("../images/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 480px;
}

.nav-scroller {
  height: 3.25rem; /* 隱藏下方捲軸 */
  overflow-y: hidden;
  border-bottom: 1px solid #707070;

  nav {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 1rem; /* 隱藏下方捲軸 */
  }

  a:hover {
    border-bottom: 1px solid #e31277;
  }
}

.hot {
  .bgc-for-mobile {
    background-color: #efefef;

    @include pad {
      background-color: #fff;
    }
  }

  .hot-item-img {
    @extend %small-img;

    @include pad {
      max-width: 350px;
      height: 350px;
    }
  }

  .hot-item-body-1 {
    @include pad {
      max-width: 540px;
    }
  }

  .hot-item-intro {
    @include pad {
      font-size: 20px;
    }
  }

  .fb-link-1 {
    position: relative;
    bottom: 3px;
  }

  .fb-link-2 {
    position: relative;
    bottom: 11px;
  }

  .fb-icon {
    width: 20px;
    height: 20px;

    @include pad {
      width: 24px;
      height: 24px;
    }
  }

  .hot-item-date {
    top: 2px;
  }
}

.live {
  .live-bg {
    background-image: url("../images/live-bg.png");
    background-position: center;
    background-size: cover;
    max-height: 464px;

    @include pad {
      max-height: 484px;
    }
  }

  .live-content {
    @include pad {
      max-width: 445px;
    }
  }

  .live-intro {
    max-width: 297px;

    @include pad {
      max-width: 397px;
      font-size: 20px;
    }
  }
}

.like {
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-img {
    @extend %small-img;

    @include pad {
      width: 350px;
      height: 350px;
    }
  }

  .swiper-slide + .swiper-slide {
    margin-left: 0;

    @include pad {
      margin-left: 30px;
    }
  }
}

