<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <!-- header -->
    <header class="py-4 py-md-45">
      <div class="container position-relative">
        <p class="text-my-dark text-center fs-4 lh-1 m-0">EXHIBINECTION</p>
        <ul class="nav position-absolute top-0 end-0 pe-3 pe-md-0">
          <li class="nav-item d-none d-md-block">
            <a class="nav-link text-my-light" href="#">Sign in</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link text-my-light" href="#">Sign up</a>
          </li>
          <li class="nav-item position-relative">
            <a class="nav-link text-my-light" href="#">
              <span class="material-icons">confirmation_number</span>
            </a>
            <span class="text-white position-absolute top-0 end-0 bg-secondary badge rounded-pill">3</span>
          </li>
        </ul>
      </div>
    </header>

    <%- contents %>

    <footer class="mt-4 mt-md-6">
      <div class="footer-top pb-46">
        <div class="container h-100">
          <div class="row h-100">
          <div class="footer-input d-flex flex-column justify-content-end h-100 col-lg-4">
            <p class="lh-base text-white fw-bold m-0">想收到最新消息嗎？</p>
            <p class="lh-base text-white fw-bold m-0">快訂閱我們！</p>
            <div class="input-group mt-26">
              <input type="text" class="form-control" placeholder="輸入您的電子信箱"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <span class="input-group-text px-55 py-26 bg-secondary text-white border-0" id="basic-addon2">訂閱</span>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom py-3 py-md-45">
        <div class="container d-md-flex align-items-center">
          <div class="fs-4 lh-1 me-3">EXHIBINECTION</div>
          <div class="fs-6 lh-base">© 2020. All Rights Reserved.</div>
          <ul class="nav d-none d-md-flex ms-auto">
            <li class="nav-item">
              <a class="nav-link text-my-light" href="#">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-my-light" href="#">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      breakpoints: {
        768:{
          slidesPerView: 3,
          spaceBetween: 30,
        },
      },
      pagination: {
        el: ".swiper-pagination"
      }
    });
    </script>
  </body>

</html>